body {
    font-family: sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    --blue-light: #cbd2ff;
    --primary: #001bc0;
    --primary-transparent: #001ac016;
    --link: #001bc0;
    --link-inverted: #009dff;
    --text-inverted: #ffffffd8;
    --grey: #b9b9b9;
    --x-light-grey: #e8e8e8;
    --border-color: #00000075;
    --orange: #ff6600;
    --red: red;
    --label-width: 10.2rem;
    --label-padding-right: 0.5rem;
    --font-size-s: 0.8rem;
    --save-section-height: 1.8rem;
    --header-height: 4rem;
    --main-height: calc(
        100vh - var(--header-height) - var(--save-section-height)
    );
}

/* TYPOGRAPHY + BASIC STYLES */

.tabulator {
    font-family: monospace;
}

h2 {
    font-size: 1.3rem;
    margin-top: 0 0 2rem 0;
    text-align: center;
}

h3 {
    font-size: var(--font-size-s);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 2.2rem 0 1.3rem 0;
    border-top: solid 1px var(--border-color);
    padding-top: 0.6rem;
}

h4 {
    margin: 1rem 0;
    font-size: 0.87rem;
    padding: 0.2rem 0.4rem;
    display: inline-block;
    background: var(--blue-light);
}

h5 {
    margin: 0.8rem 0 0.4rem 1rem;
    font-size: 0.84rem;
}

a {
    color: var(--link);
}

/* MENU/NAVIGATION */

.tabulator-row .tabulator-cell,
.tabulator-col-title {
    overflow-x: scroll !important;
}

.tabulator
    .tabulator-header
    .tabulator-col
    .tabulator-col-content
    .tabulator-col-title {
    white-space: normal !important;
}

.save-section {
    animation: blink 2s 1 ease-out;
    color: #201b11f1;
    z-index: 10000;
    background-color: #ffeeaf;
    box-sizing: border-box;
    padding: 0.2rem;
    display: block;
    width: 100%;
    padding: 0.4rem;
    height: var(--save-section-height);
    border-top: 1px solid;
    font-size: var(--font-size-s);
}

@keyframes blink {
    0% {
        background-color: #ffeaaf;
    }
    10% {
        background-color: #ff7300;
    }
    100% {
        background-color: #ffeaaf;
    }
}

#menu {
    display: flex;
    border-bottom: solid 1px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: var(--header-height);
}

#nav {
    display: flex;
    align-items: center;
}

nav > div {
    margin-right: 2rem;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1rem;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
}

nav a.current-menu-item {
    background: #001ac032;
}

/* LAYOUT: MAIN AND PARAMETERS (LAUNCH PANEL) */

.mode-section {
    display: flex;
    height: var(--main-height);
    width: 100%;
}

main {
    flex: 1;
}

main {
    height: calc(var(--main-height) - 2 * 1.4rem);
    background: var(--x-light-grey);
    overflow-y: scroll;
}

.launch-panel {
    background: var(--blue-light);
    z-index: 100;
    border-bottom: solid 1px;
    width: 25rem !important;
    height: var(--main-height);
    border-right: solid 1px black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.launch-panel-content-wrapper,
main {
    padding: 1.4rem;
}

/* LAYOUT: DATA */

#all-simulations-wrapper-simple-mode,
#all-simulations-wrapper-advanced-mode {
    max-width: 100%;
}

.simulation-wrapper-simple-mode,
.simulation-wrapper-advanced-mode {
    width: calc(100% - 6rem);
    padding: 1rem 2rem 2rem 2rem;
    margin: 3rem 1rem;
    border-radius: 8px;
    box-shadow: rgba(75, 75, 85, 0.446) 0px 7px 29px 0px;
    background: white;
    min-height: 20rem;
}

.average-noise {
    color: var(--orange);
    font-weight: bold;
    margin-left: 1rem;
    font-family: monospace;
}

.simulation-id {
    text-align: center;
}

/* BUTTONS */

button {
    font-size: inherit;
    background: var(--primary);
    border: solid 1px transparent;
    padding: 0.7rem 1.4rem;
    color: var(--text-inverted);
    border-radius: 4px;
    margin: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: filter 0.1s linear, box-shadow 0.1s linear;
}

button:hover {
    filter: brightness(0.86);
    box-shadow: rgba(0, 0, 0, 0.243) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button.secondary {
    background: none;
    border: solid 1px;
    color: var(--primary);
}

button.ternary,
button.ternary-xs,
div.ternary-xs {
    background: none;
    border: none;
    text-transform: none;
    color: var(--primary);
    margin: 0;
    padding: 0 1rem;
    text-transform: uppercase;
}

div.ternary-xs {
    display: inline-block;
    cursor: pointer;
}

button.ternary-xs,
div.ternary-xs {
    padding: 0 0.2rem;
    font-size: var(--font-size-s);
}

button.destructive {
    color: var(--red);
}

button a {
    text-decoration: none;
}

#feedback-button {
    background: rgb(250, 22, 186);
    border: none;
}

.feedback-hint {
    font-size: 0.7rem;
    text-transform: none;
}

#feedback-button a {
    text-decoration: none;
    color: white !important;
}

.buttons-wrapper-nav {
    display: flex;
}

.buttons-wrapper-launch-panel {
    padding: 1rem;
    border-top: solid 1px rgba(128, 128, 128, 0.635);
    position: sticky;
    bottom: 0;
    backdrop-filter: blur(6px);
}

.buttons-wrapper-launch-panel > button {
    width: calc(100% - 1rem);
}

label {
    width: var(--label-width);
    padding-right: var(--label-padding-right);
    display: inline-block;
}

input,
select {
    min-width: 6rem;
    margin: 0.2rem 0;
    padding: 0.3rem;
    cursor: pointer;
    border: solid 1.5px var(--grey);
    border-radius: 4px;
    outline: none;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

input:focus,
select:focus {
    border-color: var(--primary);
    background: var(--primary-transparent);
}

.input-hint {
    margin-left: calc(var(--label-width) + var(--label-padding-right) + 0.2rem);
    font-size: var(--font-size-s);
    color: dimgrey;
}

/* HELPER BADGES */

.help {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--grey);
    border-radius: 30px;
    text-align: center;
    font-size: 1rem;
    cursor: default;
    display: inline-block;
    z-index: 1000;
    cursor: pointer;
    transition: filter 0.2s ease-out;
}

.help:hover {
    filter: invert();
}

.help a {
    color: var(--link-inverted) !important;
}

.help::after {
    content: '?';
}

/* VERSION */

.version {
    display: inline-block;
    padding: 0.1rem 0.2rem;
    color: var(--x-light-grey);
    background-color: black;
    font-size: 0.7rem;
}

/* VISIBILITY TOGGLES */

.not-displayed {
    display: none;
}

/* DETAILS */

.details-wrapper {
    padding: 1rem 0;
}

/* LAYOUT HELPERS */

.flex {
    display: flex;
    justify-content: space-between;
}

hr {
    outline: none;
    border: solid 0.2px #00000054;
    margin: 1.4rem 0 0.6rem 0;
}
