body {
    font-family: sans-serif;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    --primary: #001bc0;
    --primary-transparent: #001ac016;
    --link: #001bc0;
    --link-inverted: #009dff;
    --text-inverted: #ffffffd8;
    --grey: #b9b9b9;
    --x-light-grey: #e8e8e8;
    --orange: #ff6600;
    --red: red;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* TYPOGRAPHY + BASIC STYLES */

.tabulator {
    font-family: monospace;
}

h2 {
    font-size: 1.3rem;
    margin-top: 0 0 2rem 0;
    text-align: center;
}

h3 {
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 0.8rem 0 1.6rem 0;
}

h4 {
    margin: 0.2rem 0;
}

a {
    color: var(--link);
}

/* MENU/NAVIGATION */

#menu {
    display: flex;
    border-bottom: solid 1px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 10vh;
}

#nav {
    display: flex;
    align-items: center;
}

nav > div {
    margin-right: 2rem;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1rem;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
}

nav a.current-menu-item {
    background: #001ac032;
}

/* LAYOUT: MAIN AND PARAMETERS (LAUNCH PANEL) */

.mode-section {
    display: flex;
    height: 90vh;
    width: 100%;
}

main {
    flex: 1;
}

main {
    height: calc(90vh - 2 * 1.4rem);
    background: var(--x-light-grey);
    overflow-y: scroll;
}

.launch-panel {
    background: #cbd2ff;
    z-index: 100;
    border-bottom: solid 1px;
    width: 25rem !important;
    height: 90vh;
    border-right: solid 1px black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.launch-panel-content-wrapper,
main {
    padding: 1.4rem;
}

/* LAYOUT: DATA */

.simulation-wrapper-simple-mode-output {
    width: 80%;
}

#all-simulations-wrapper-simple-mode,
#all-simulations-wrapper-advanced-mode {
    max-width: 100%;
}

.simulation-wrapper-simple-mode,
.simulation-wrapper-advanced-mode {
    width: calc(100% - 6rem);
    padding: 1rem 2rem 2rem 2rem;
    margin: 3rem 1rem;
    border-radius: 8px;
    box-shadow: rgba(75, 75, 85, 0.446) 0px 7px 29px 0px;
    background: white;
}

.average-noise {
    color: var(--orange);
    font-weight: bold;
}

#dimensions-table {
    max-width: 20rem;
}

/* BUTTONS */

button {
    font-size: inherit;
    background: var(--primary);
    border: solid 1px;
    padding: 0.7rem 1.4rem;
    color: var(--text-inverted);
    border-radius: 4px;
    margin: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
}

button.secondary {
    background: none;
    border: solid 1px;
    color: var(--primary);
}

button.ternary,
button.ternary-xs,
div.ternary-xs {
    background: none;
    border: none;
    text-transform: none;
    color: var(--primary);
    margin: 0;
    padding: 0 1rem;
    text-transform: uppercase;
}

div.ternary-xs {
    display: inline-block;
    cursor: pointer;
}

button.ternary-xs,
div.ternary-xs {
    padding: 0 0.2rem;
    font-size: 0.8rem;
}

button.destructive {
    color: var(--red);
}

button a {
    text-decoration: none;
}

#feedback-button {
    background: rgb(250, 22, 186);
    border: none;
}

.feedback-hint {
    font-size: 0.7rem;
    text-transform: none;
}

#feedback-button a {
    text-decoration: none;
    color: white !important;
}

.buttons-wrapper-launch-panel {
    padding: 1rem;
    border-top: solid 1px #c5c5c5;
    position: sticky;
    bottom: 1px;
    backdrop-filter: blur(6px);
}

.buttons-wrapper-launch-panel > button {
    width: calc(100% - 1rem);
}

label {
    width: 10rem;
    padding-right: 0.5rem;
    display: inline-block;
}

input,
select {
    margin: 0.2rem 0;
    cursor: pointer;
    padding: 0.3rem;
    border: solid 1.5px grey;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

input:focus,
select:focus {
    border-color: var(--primary);
    background: var(--primary-transparent);
}

/* HELPER BADGES */

.help {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--grey);
    border-radius: 30px;
    text-align: center;
    font-size: 1rem;
    cursor: default;
    display: inline-block;
    z-index: 1000;
    cursor: pointer;
    transition: filter 0.2s ease-out;
}

.help:hover {
    filter: invert();
}

.help a {
    color: var(--link-inverted) !important;
}

.help::after {
    content: '?';
}

/* VERSION */

.version {
    display: inline-block;
    padding: 0.1rem 0.2rem;
    color: var(--x-light-grey);
    background-color: black;
    font-size: 0.7rem;
}

/* VISIBILITY TOGGLES */

.not-displayed {
    display: none;
}

/* DETAILS */

.details-wrapper {
    padding: 1rem 0;
}

/* LAYOUT HELPERS */

.flex {
    display: flex;
    justify-content: space-between;
}

hr {
    outline: none;
    border: solid 0.2px #00000054;
    margin: 1.4rem 0 0.6rem 0;
}
